.popUpForm {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: $mainColor;
	left: 0;
	bottom: 2rem;
	background-color: #165788;
	color: #fff;
	padding-top: 3rem;
	height: 100%;

	p {
		margin: 1rem 0;
	}

	.fas {
		font-size: 4rem;
		color: $accentOne;
		padding-top: 3rem;
		margin-bottom: 1rem;
	}

	.congrats {
		font-weight: bold;
		font-size: 3rem;
		line-height: 1.8em;
		padding: 1rem;
		margin-bottom: 2rem;
		margin-top: 3rem;

		span {
			display: block;
		}
	}

	input {
		height: 3.5rem;
		width: 90%;
		margin-bottom: 2rem;
	}
	input[type='text'],
	textarea {
		background-color: rgba(255, 255, 255, 0.3);
		border: none;
	}

	.player {
		background: $textColorOne;
		width: 90%;
		border: none;
		font-weight: bold;
		font-size: 1.5rem;
		line-height: 1.8rem;
	}

	.enterNameText {
		font-size: 1.5rem;
		line-height: 1.8em;
		margin-bottom: 2rem;
	}
	.textOne {
		font-weight: bold;
		font-size: 1.5rem;
		line-height: 1.8em;
		text-transform: uppercase;
	}

	.finScore {
		font-weight: bold;
		font-size: 5rem;
		line-height: 5.9rem;
	}
}
