.homeContent {
	text-align: center;

	.disclaimer {
		display: flex;
		padding: 3rem 1rem 1rem 1rem;
		margin-bottom: 5rem;

		.fas {
			align-self: start;
			margin-right: 0.5rem;
		}
		p {
			text-align: left;
			line-height: 1.8rem;
		}
	}

	h1 {
		font-weight: bold;
		font-size: 3.6rem;
		line-height: 4.2rem;
		color: $mainColor;
		margin-bottom: 1rem;
	}
	h2 {
		font-size: 2rem;
		line-height: 2.3rem;
		color: $mainColor;
		margin-bottom: 3rem;
	}

	.threeBinImg,
	.getBins {
		margin-bottom: 3rem;
	}

	.highScoresBtn {
		font-family: $mainFont;
		margin-bottom: 3rem;
		font-weight: bold;
		font-size: 1.5rem;
		line-height: 1.8rem;

		button {
			border: none;
			background: none;
			color: $textColorOne;
		}
		.fas {
			color: $accentOne;
		}
	}

	footer {
		background: $mainColor;
		color: $backgroundColor;
		padding: 3rem;
	}
	.topText {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}

	.bottomText {
		font-size: 1.2rem;
		line-height: 1.4rem;
		margin-bottom: 0.5rem;
	}

	.appButtons {
		padding: 2rem 0;
	}
}
