.playContent {
	text-align: center;

	.top-right {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 6rem;
	}

	.topBox {
		padding: 1rem;
		background: #fff;
		font-weight: bold;
		font-size: 1rem;
		line-height: 1.2rem;
		color: $darkColor;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		border-right: 1px solid $backgroundColor;
		

	}

	.timeBox {
		border-right: 1px solid $backgroundColor;
	}

	.keywordItem {
		font-weight: bold;
		font-size: 2.6rem;
		line-height: 3rem;
		color: #000;
		margin-bottom: 5rem;
	}

	.question {
		font-weight: bold;
		font-size: 1.5rem;
		line-height: 1.8rem;

		fieldset {
			padding: 1rem;
		}
	}

	label img {
		width: 95px;
		margin-bottom: 5rem;
	}

	/* CHECKED STYLES */
	[type='radio']:checked + label img {
		opacity: 1;
	}

	/* HIDE RADIO */
	[type='radio'] {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* IMAGE STYLES */
	[type='radio'] + label img {
		cursor: pointer;
		max-width: 100px;
		opacity: 0.5;
	}

	.correctWrong {
		opacity: 0;
		transition: opacity 0.3s;
		&.show {
			opacity: 1;
		}
	}
}
