/* Utilities */
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	width: 90%;
}
body {
	font-family: $mainFont;
	background: $backgroundColor;
	color: $textColorOne;
}

.btn {
	display: inline-block;
	border: none;
	background: $mainColor;
	color: $lightColor;
	padding: 1rem 4rem;
	text-decoration: none;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	border: 1px solid $mainColor;
	width: 90%;
	font-family: $mainFont;

	&:hover {
		background: $lightColor;
		color: $mainColor;
	}
	&:focus {
		border: 1px solid;
	}
	&:disabled,
	&[disabled] {
		opacity: 0.2;
	}
}
