/* Utilities */
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	width: 90%;
}
body {
	font-family: $mainFont;
	
}
.screenOne,
.screenTwo,
.screenThree,
.screenFour,
.screenFive {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 500px;
	margin: auto;
	background: $backgroundColor;
	color: $textColorOne;
}

.btn {
	display: inline-block;
	border: none;
	background: $mainColor;
	color: $lightColor;
	padding: 1rem 4rem;
	text-decoration: none;
	font-size: 1.5rem;
	line-height: 1.8rem;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	border: 1px solid $mainColor;
	width: 90%;
	font-family: $mainFont;

	&:hover {
		background: $lightColor;
		color: $mainColor;
	}
	&:focus {
		border: 1px solid;
	}
	&:disabled,
	&[disabled] {
		opacity: 0.2;
	}
}

.hide {
	display: none;
}
