a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  -ms-text-size-adjust: 62.5%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* Utilities */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

body {
  font-family: "Roboto", sans-serif;
}

.screenOne,
.screenTwo,
.screenThree,
.screenFour,
.screenFive {
  position: relative;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: auto;
  background: #e5e5e5;
  color: #828282;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #165788;
  color: #fff;
  padding: 1rem 4rem;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border: 1px solid #165788;
  width: 90%;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  background: #fff;
  color: #165788;
}

.btn:focus {
  border: 1px solid;
}

.btn:disabled, .btn[disabled] {
  opacity: 0.2;
}

.hide {
  display: none;
}

.homeContent {
  text-align: center;
}

.homeContent .disclaimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 1rem 1rem 1rem;
  margin-bottom: 5rem;
}

.homeContent .disclaimer .fas {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-right: 0.5rem;
}

.homeContent .disclaimer p {
  text-align: left;
}

.homeContent h1 {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.2rem;
  color: #165788;
  margin-bottom: 1rem;
}

.homeContent h2 {
  font-size: 2rem;
  line-height: 2.3rem;
  color: #165788;
  margin-bottom: 3rem;
}

.homeContent .threeBinImg,
.homeContent .getBins {
  margin-bottom: 3rem;
}

.homeContent .highScoresBtn {
  font-family: "Roboto", sans-serif;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.homeContent .highScoresBtn button {
  border: none;
  background: none;
  color: #828282;
}

.homeContent .highScoresBtn .fas {
  color: #e1b254;
}

.homeContent footer {
  background: #165788;
  color: #e5e5e5;
  padding: 3rem;
}

.homeContent .topText {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.homeContent .bottomText {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.homeContent .appButtons {
  padding: 2rem 0;
}

.playContent {
  text-align: center;
  /* CHECKED STYLES */
  /* HIDE RADIO */
  /* IMAGE STYLES */
}

.playContent .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playContent .top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 6rem;
}

.playContent .home-link.btn {
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.playContent .topBox {
  padding: 1rem;
  background: #fff;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #666d72;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-right: 1px solid #e5e5e5;
}

.playContent .timeBox {
  border-right: 1px solid #e5e5e5;
}

.playContent .keywordItem {
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 3rem;
  color: #000;
  margin-bottom: 5rem;
}

.playContent .question {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.playContent .question fieldset {
  padding: 1rem;
}

.playContent label img {
  width: 95px;
  margin-bottom: 5rem;
}

.playContent [type='radio']:checked + label img {
  opacity: 1;
}

.playContent [type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.playContent [type='radio'] + label img {
  cursor: pointer;
  max-width: 100px;
  opacity: 0.5;
}

.playContent .correctWrong {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.playContent .correctWrong.show {
  opacity: 1;
}

.popUpForm {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #165788;
  left: 0;
  bottom: 2rem;
  background-color: #165788;
  color: #fff;
  padding-top: 3rem;
  height: 100%;
}

.popUpForm .fas {
  font-size: 4rem;
  color: #e1b254;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.popUpForm .congrats {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.popUpForm .congrats span {
  display: block;
}

.popUpForm input {
  height: 3.5rem;
  width: 90%;
  margin-bottom: 2rem;
}

.popUpForm input[type='text'],
.popUpForm textarea {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}

.popUpForm .player {
  background: #828282;
  width: 90%;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.popUpForm .enterNameText {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.popUpForm .textOne {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}

.popUpForm .finScore {
  font-weight: bold;
  font-size: 5rem;
  line-height: 5.9rem;
}

.highScoresInfo {
  text-align: center;
  background: #165788;
  color: #fff;
  height: 100%;
}

.highScoresInfo .fas {
  font-size: 2em;
  color: #e1b254;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.highScoresInfo h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.03em;
  margin-bottom: 3rem;
}

.highScoresInfo .scoreBoard {
  background: #4579a0;
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 5rem;
  padding: 2rem;
  text-transform: capitalize;
}

.highScoresInfo .playerListing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.highScoresInfo .nameAndScore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.highScoresInfo .closeBox {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  background: #4579a0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.highScoresInfo .closeBox:hover {
  cursor: pointer;
}

.tipContainer {
  background: #e1b254;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.tipContainer h2,
.tipContainer h3 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.9rem;
}

.tipContainer h2 {
  padding-top: 1rem;
}

.tipContainer h3 {
  padding-bottom: 2rem;
}

.tipContainer .tipText {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 1rem;
}

.tipContainer .moreInfo {
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 1rem 1rem 0.1rem 1rem;
}

.tipContainer .appButtons {
  padding: 2rem 0;
}

.tipContainer .playAgain {
  margin-bottom: 2rem;
}
